/*
	Catalyst by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Basic */

	pre, code {
		background: #f6f6f6;
	}

/* Form */

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		line-height: 3.5em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		font-size: 3em;
	}

		input[type="checkbox"] + label:before,
		input[type="radio"] + label:before {
			display: none;
		}

/* Button */

	input[type="submit"].alt,
	input[type="reset"].alt,
	input[type="button"].alt,
	.button.alt {
		border: solid 2px #eee;
	}

/* Feature */

	.feature i {
		-ms-behavior: url("assets/js/ie/PIE.htc");
	}

/* Image Feature */

	.image-feature header:before {
		display: none;
	}

/* Header */

	.dropotron.level-0 {
		margin-top: -0.5em;
	}

		.dropotron.level-0:before {
			display: none;
		}

/* Banner */

	#banner {
		background-image: url("../../images/banner.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		-ms-behavior: url("assets/js/ie/backgroundsize.min.htc");
	}

		#banner:after {
			display: none;
		}